<div class="container">
    <div class="left-pane">
    </div>
            <div class="right-pane">
                <h4>Bank application login<h5>{{aim}}</h5></h4><br>
                <form (ngsubmit)="login()">
                    <input type="text" class="text" name="acno" [(ngModel)]="acno" id="accnotext"
                        placeholder="Account number"><br>
                    <input type="password" class="text" name="pswd" [(ngModel)]="pswd" id="pwdtext"
                        placeholder="password"><br>
                    <input type="submit" class="button butefct" value="login"><br>
                </form>
                <div class="line"></div>
                <a class="textfp" routerLink="register">Sign up</a>
                <div class="col-4"></div>


            </div>

        
        
    </div>
     