<div class="container">
    <div class="left-pane">

    </div>
    <div class="right-pane">
        <h1>user login.</h1> 
        <h5>{{aim}}</h5>
        <input type="text" name="" (change)="accchange($event)" [value]="accnum" id="username" placeholder="username">
    <input type="text" name="" (change)="pswdchange($event)" id="password" placeholder="password">
    <!-- <input type="text" id="bal" placeholder="balance"> -->
    <br>
    <input type="submit" class="bttn" (onclick)="login()" value="sign in">
    <input type="submit" class="bttn" onclick="window.location.href='index.html'" value="home">
    <!-- <input type="submit" class="bttn" onclick="listAllUsers()" value="list users"> -->
   
    <!-- <button class="bttn" onclick="createUser()"></button>
    <button class="bttn" onclick="listAllUsers()">list users</button>
    <button class="bttn" onclick="bank.insideBank()">BankCheck</button> -->

    </div>
    
 </div>
